@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Movie #@Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |

    @*foreach(Models@.Movie peli in Model.Movies)
            {
                Console.WriteLine("peli" + peli.nombre)
            }*@
    @if ((bool)@ViewData["mostrarId"])
    {
        <span>
            <a asp-action="Details" asp-route-id="@Model.Id+1" asp-route-mostrarId="true">Previous</a> |
            <a>#@Model.Id</a> |
            <a asp-action="Details" asp-route-id="@Model.Id+1" asp-route-mostrarId="true">Next</a>
        </span>
    }
    else
    {
        <span>
            <a asp-action="Details" asp-route-id="@Model.Id+1">Previous</a> |
            <a asp-action="Details" asp-route-id="@Model.Id-1">Next</a>
        </span>
    }

</div>
